<ion-header>
  <!--TODO: Discuss navbar color and style-->
  <ion-navbar color="blueish">
    <ion-title>
      Todo List
    </ion-title>
    <ion-buttons end>
      <button icon-only (click)="pushPageAdd()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="viewModel">
    <ion-list
      class="{{ classPage }}"
      no-lines
      *ngSwitchCase="'image-view'">
      <img [src]="todo.imgUrl"
           *ngFor="let todo of todos | async"
           (click)="pushPageDetail(todo)" />

    </ion-list>
    <ion-list
      class="{{ classPage }}"
      no-lines
      *ngSwitchCase="'post-view'">
      <ion-item *ngFor="let todo of todos | async">

        <p><b>{{ todo.author }}</b></p>

        <img [src]="todo.imgUrl" (click)="pushPageDetail(todo)" />
        <p><b>{{ todo.name }}</b></p>

        <!--Both these are just to read what status done is
            And since there is no case if they cant find any done field,
            it will not show any-->
        <!--TODO: Make green color resource-->
        <ion-icon
          name="checkbox"
        color="green"
        *ngIf="todo.done == true">
        </ion-icon>
        <!--TODO: Make red color resource-->
        <ion-icon
          name="close"
        color="red"
        *ngIf="todo.done == false">
        </ion-icon>

        <p
          *ngIf="todo.location != null">
          Location: {{todo.location.countryName.toString() }},
          {{ todo.location.locality.toString() }}</p>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab left bottom #fab>
    <button ion-fab color="lightblue">
      <ion-icon name="{{ classTab }}" color="light"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="lightblue" (click)="fabController('home', fab)">
        <ion-icon name="apps" color="light"></ion-icon>
      </button>
      <button ion-fab color="lightblue" (click)="fabController('home-postview', fab)">
        <ion-icon name="list" color="light"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
